<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


{% extends 'config.html' %}
{% block content %}

<body>
    
    <div class="centrar">
        <h3> nuevo evento </h3>
    </div>
    {% load crispy_forms_tags %}
    <!-- <h5>Nuevo Evento:</h5> -->

    {% if messages %}
    {% for message in messages %}
    {% if message.tags == 'success' %}
    <div class=" alert alert-success">
        {{ message }}
    </div>
    {% else %}
    <div class=" alert alert-error">
        {{ message }}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}

    <form action="/guardarEvento/" id="form_evento" method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-5 col-lg-5 col-xl-6">
                <label class="campo-label">{{ form_evento.nombre_evento.label_tag }}</label>
                {{ form_evento.nombre_evento }}
            </div>
            <div class="form-group col-md-5 col-lg-5 col-xl-6">
                <label class="campo-label">{{ form_evento.lugar_evento.label_tag }}</label>
                {{ form_evento.lugar_evento }}
            </div>
            <div class="form-row">
            <div class="form-group col-md-2 col-lg-2 col-xl-4">
                <label class="campo-label">{{ form_evento.fecha_evento.label_tag }}</label>
                {{ form_evento.fecha_evento }}
            </div>
            </div>

            <div>
                <button type="submit" id="btn-importar" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </form>
    <br>
    <h3>Eventos activos:</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Evento:
                </th>
                <th>
                    Lugar:
                </th>
                <th>
                    Fecha:
                </th>
                <th>
                    N° Actualizaciones:
                </th>
                <th>
                    Estado Acreditación:
                </th>
                <th>

                </th>

            </tr>
        </thead>
        <tbody>
            {% for c in listado_eventos %}
            <tr>
                <td>
                    {{c.nombre_evento}}
                </td>
                <td>
                    {{c.lugar_evento}}
                </td>
                <td>
                    {{c.fecha_evento}}
                </td>
                <td>
                    {{c.num_cargas}}
                </td>
                <td>
                    {% if c.acreditacion_activa == 1 %}

                    <font style="color: green;">
                        <B>ACREDITANDO</B>
                    </font>
                    {% else %}
                    <font style="color: red;">
                        <b>NO INICIADO</b>
                    </font>
                    {% endif %}
                </td>
                <td>



                    <form action='/importarExcel/{{c.id}}' method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="file" name="archivo_excel" id="archivo_excel" class="file-input">
                        <button type="submit" id="btn-importar" class="btn btn-primary"
                            name="btn-importar">Importar</button>
                    </form>

                    {% if c.num_cargas == 0 %}
                    <a href='/iniciaAcreditacion/{{c.id}}' class="btn btn-info disabled">Iniciar Acreditación</a>
                    <a href='/detieneAcreditacion/{{c.id}}' class="btn btn-danger disabled">Cerrar Acreditación</a>
                    <a href='/buscarPersonal/{{c.id}}' class="btn btn-danger disabled">Acreditar</a>
                    {% else %}
                    <a href='/iniciaAcreditacion/{{c.id}}' id="inicial" data-toggle="tooltip"
                        title="Iniciar el proceso de acreditación al personal" class="btn btn-info">Iniciar Acreditación</a>
                    <a href='/detieneAcreditacion/{{c.id}}' id="detienee" data-toggle="tooltip" title="Finalizar el proceso de acreditación al personal"
                        class="btn btn-danger">Cerrar Acreditación</a>
                        {% if c.acreditacion_activa == 1 %}
                        <a href='/registraUsuario/{{c.id}}' id="acredita" data-toggle="tooltip" title="Buscar personal y acreditar"
                        class="btn btn-warning">Acreditar</a>
                        {% endif %}
                    {% endif %}
                    <!-- <a href='/#{{c.id}}' class="btn btn-danger">Cerrar Acreditación</a> -->

                    <!-- <a href='/#{{c.id}}' class="btn btn-success">Subir Listado</a> -->

                </td>
            </tr>

            {% endfor %}
        </tbody>
    </table>

    <script>
        setTimeout(function () {
            var messages = document.getElementsByClassName('alert');
            for (var i = 0; i < messages.length; i++) {
                messages[i].style.display = 'none';
            }
        }, 7000);  // 5000 milisegundos = 5 segundos

        document.getElementById('inicial').addEventListener('click', function (event) {
            event.preventDefault(); // Evita que se siga el enlace automáticamente
            var confirmacion = confirm('!ATENCIóN¡ \n\ Si continúa, el sistema hará uso del último listado importado como definitivo. \n\ ¿Está seguro de ejecutar esta acción?');
            if (confirmacion) {
                // Si el usuario confirma, redirige a la URL o ejecuta la acción deseada
                window.location.href = event.target.href; // Redirige a la URL del enlace
            } else {
                // Si el usuario cancela, no se realiza ninguna acción
                return;
            }
        });

        document.getElementById('detienee').addEventListener('click', function (event) {
            event.preventDefault(); // Evita que se siga el enlace automáticamente
            var confirmacion = confirm('!ATENCIóN¡ \n\ Si continúa, se dará por finalizado el proceso de acreditación. \n\ ¿Está seguro de ejecutar esta acción?');
            if (confirmacion) {
                // Si el usuario confirma, redirige a la URL o ejecuta la acción deseada
                window.location.href = event.target.href; // Redirige a la URL del enlace
            } else {
                // Si el usuario cancela, no se realiza ninguna acción
                return;
            }
        });

    </script>
</body>

{% endblock %}

</html>