<!DOCTYPE html>
<html lang="es">
{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Acreditación</title>
</head>


<body>
    <div class="row">

        <div style="text-align: center;" class="col-sm-12 col-md-6 col-lg-2 col-xl-2">

            <img src="{% static 'logo.png' %}" width="100" height="100" style="margin-top: 70px;">
            <h2>Sistema de Gestión de Acreditaciones</h2>
            <h3 style="margin-left: 15px;"> Eventos Activos: </h3>

            {% if messages %}
            {% for message in messages %}
            {% if message.tags == 'success' %}
            <div class=" alert alert-success">
                {{ message }}
            </div>
            {% else %}
            <div class=" alert alert-error">
                {{ message }}
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="row">
        <div class="table responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Evento:
                        </th>
                        <th>
                            Lugar:
                        </th>
                        <th>
                            Estado Acreditación:
                        </th>
                        <th>

                        </th>

                    </tr>
                </thead>
                <tbody>
                    {% for c in listado_eventos %}
                    <tr>
                        <td>
                            {{ c.nombre_evento }}
                        </td>
                        <td>
                            {{c.lugar_evento}}
                        </td>
                        <td>
                            {% if c.acreditacion_activa == 1 %}

                            <font style="color: green;">
                                <B>ACREDITANDO</B>
                            </font>
                            {% else %}
                            <font style="color: red;">
                                <b>NO INICIADO</b>
                            </font>
                            {% endif %}
                        </td>
                        <td>
                            {% if c.acreditacion_activa == 1 %}

                            <form action='/importarExcelAdicionales/{{c.id}}' method="post"
                                enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="file" name="archivo_excel" id="archivo_excel" class="file-input">
                                <button type="submit" id="btn-importar" class="btn btn-primary"
                                    name="btn-importar">Importar Adicional</button>
                            </form>

                            {% else %}
                            <form action='/importarExcel/{{c.id}}' method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="file" name="archivo_excel" id="archivo_excel" class="file-input">
                                <button type="submit" id="btn-importar" class="btn btn-primary"
                                    name="btn-importar">Importar Acreditables</button>
                            </form>
                            {% endif %}
                            {% if c.acreditacion_activa == 1 %}
                            <a href='/registraUsuario/{{c.id}}' id="acredita" data-toggle="tooltip"
                                title="Buscar personal y acreditar" class="btn btn-warning">Acreditar</a>
                            {% endif %}
                            <a href='/iniciaAcreditacion/{{c.id}}' id="inicial" data-toggle="tooltip"
                                title="Iniciar el proceso de acreditación al personal" class="btn btn-info">Iniciar
                                Acreditación</a>
                            <a href='/detieneAcreditacion/{{c.id}}' id="detienee" data-toggle="tooltip"
                                title="Finalizar el proceso de acreditación al personal" class="btn btn-danger">Cerrar
                                Acreditación</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href='/logout/' id="salir" class="btn btn-danger w-100" style="margin-top: 15px;">Salir</a>
        </div>
    </div>


    <br><br><br><br>
    <!-- Construido y Desarrollado para Backtrack Telecomunicaciones por L. Castillo  -->

    <script>
        setTimeout(function () {
            var messages = document.getElementsByClassName('alert');
            for (var i = 0; i < messages.length; i++) {
                messages[i].style.display = 'none';
            }
        }, 7000);  // 5000 milisegundos = 5 segundos

        document.getElementById('inicial').addEventListener('click', function (event) {
            event.preventDefault(); // Evita que se siga el enlace automáticamente
            var confirmacion = confirm('!ATENCIóN¡ \n\ Si continúa, el sistema hará uso del último listado importado como definitivo. \n\ ¿Está seguro de ejecutar esta acción?');
            if (confirmacion) {
                // Si el usuario confirma, redirige a la URL o ejecuta la acción deseada
                window.location.href = event.target.href; // Redirige a la URL del enlace
            } else {
                // Si el usuario cancela, no se realiza ninguna acción
                return;
            }
        });

        document.getElementById('detienee').addEventListener('click', function (event) {
            event.preventDefault(); // Evita que se siga el enlace automáticamente
            var confirmacion = confirm('!ATENCIóN¡ \n\ Si continúa, se dará por finalizado el proceso de acreditación. \n\ ¿Está seguro de ejecutar esta acción?');
            if (confirmacion) {
                // Si el usuario confirma, redirige a la URL o ejecuta la acción deseada
                window.location.href = event.target.href; // Redirige a la URL del enlace
            } else {
                // Si el usuario cancela, no se realiza ninguna acción
                return;
            }
        });

    </script>


</body>

</html>